.child{
    border:1px solid #e6e6e6;
    width:30%;
    padding: 10px;
    text-align: center;
    display:inline-block;
}
.member_img img {
    max-height: 200px;
    max-width: 100%;

}
.member_name {
    padding: 10px;
}

.member_info{
    color: #808080;
    padding:0 10px;
}
.childInfo{
    color: #808080;
    padding: 2px;
}

.child-o{
    height: 30px;
    border-bottom: solid #e6e6e6 ;
    border-top: solid #e6e6e6 ;
    padding: 1px;
}
.suoyou{
    font-size: 15px;
    width: 50px;
    padding: 25px;
}

.child_list{
    padding-top: 10px;
    border-bottom: solid #e6e6e6 ;
    width:76%;
    float:right;
}
.sub{
    padding:20px;
}
.content_title{
    padding: 0 15px 15px;
    text-align: center;
}
.content_img img{
    text-align: center;
    max-height: 300px;
    max-width: 100%;
    padding-top: 10px;
}


